Repository sirrus233/wotr-community-website, pull requests merged in 2024-12, with the labels that each got.

#15 Set up form validation
  frontend/src/GameReportForm.tsx
Labels: frontend

#16 Extract form state management into a custom hook
  frontend/src/GameReportForm.tsx
  frontend/src/hooks/useFormData.tsx
Labels: frontend

#17 Add a type for planned game report payload
  frontend/src/types.ts
Labels: frontend

#18 Add some READMEs
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation

#26 Mask null in number input form control
  frontend/src/SelectNumericOptionInput.tsx
Labels: frontend

#27 Use FormControl wrapper only around single form controls
  frontend/src/GameReportForm.tsx
  frontend/src/GameReportFormElement.tsx
Labels: frontend

#29 Map stronghold and expansion values to display labels
  frontend/src/GameReportForm.tsx
  frontend/src/MultiOptionInput.tsx
  frontend/src/SingleOptionInput.tsx
  frontend/src/constants.ts
Labels: frontend

#28 Map form data to a schematically valid HTTP payload
  frontend/src/constants.ts
  frontend/src/hooks/useFormData/index.tsx
  frontend/src/hooks/useFormData/initialFormData.tsx
  frontend/src/types.ts
Labels: frontend

#40 Display success message and reset game report form after submitting
  frontend/src/GameReportForm.tsx
  frontend/src/SelectNumericOptionInput.tsx
  frontend/src/SelectOptionInput.tsx
  frontend/src/hooks/useFormData/index.tsx
  frontend/src/types.ts
Labels: frontend

#36 Collect FP strongholds in form and make expansion cities conditional
  backend/src/Types/DataField.hs
  backend/src/Validation.hs
  frontend/src/GameReportForm.tsx
  frontend/src/VictoryPoints.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useFormData/index.tsx
Labels: frontend

#44 Display partially populated leaderboard
  frontend/src/Rankings.tsx
  frontend/src/types.ts
Labels: frontend

#41 Add loading state to game report form
  frontend/src/GameReportForm.tsx
  frontend/src/hooks/useFormData/index.tsx
Labels: frontend

#42 Display game report submission errors
  frontend/src/constants.ts
  frontend/src/hooks/useFormData/index.tsx
  frontend/src/types.ts
Labels: frontend

#45 Update leaderboard endpoint in frontend
  frontend/src/Rankings.tsx
Labels: frontend

#48 Style leaderboard a little bit
  frontend/src/Rankings.tsx
Labels: frontend

#49 Bugfix - don't assume FPMV as default
  backend/.vscode/settings.json
  backend/src/Validation.hs
  frontend/src/constants.ts
  frontend/src/hooks/useFormData/index.tsx
Labels: bug

#50 Fix encoding issue
  frontend/package-lock.json
  frontend/package.json
  frontend/src/GameReportForm.tsx
  frontend/webpack.config.js
Labels: bug

#52 Move frontend mapping utils to common location
  frontend/src/GameReportForm.tsx
  frontend/src/VictoryPoints.tsx
  frontend/src/utils.tsx
Labels: frontend

#54 Display game reports
  frontend/src/App.tsx
  frontend/src/GameReports.tsx
  frontend/src/Rankings.tsx
  frontend/src/TableView.tsx
  frontend/src/types.ts
Labels: frontend
